*{
	margin:0px;
	padding:0px;
}
.container{
	width:100%;
}
/*head*/
.head{
	width:100%;
	height:51px;
	clear:both;
	position:relative;
}
.head img{
	margin:5px 0px 0px 30px;
}
.head p{
	font:21px "黑体";
	position:absolute;
	top:15px;
	left:70px;
}
.navigator{
	float:right;
	margin:20x,60px;
	font:14px "微软雅黑";
}
.navigator a{
	display:inline-block;
	padding:15px;
	box-sizing:border-box;
}
.navigator a:hover{
	border-bottom:2px solid #e74f4d;
	color:#e74f4d;
}
.navigator .login{
	color:#e74f4d;
	margin-right:40px;
	padding-left:0px;
}
.navigator .login:hover{
	border:0px solid #fff;
}
/*part1*/
.part1{
	color:#fff;
	position:relative;
}
.part1 img{
	width:100%;
}
.part1 .p1{
	font:60px "微软雅黑";
	position:absolute;
	left:100px;
	top:35%;
}
.part1 .p2{
	font:21px "微软雅黑";
	position:absolute;
	left:100px;
	top:50%;
}
.part1 .p3{
	font:21px "微软雅黑";
	position:absolute;
	left:100px;
	top:55%;
}
.part1 .p4{
	background-color:#e74f4d;
	font:30px "微软雅黑";
	position:absolute;
	left:100px;
	top:70%;
	line-height:2em;
	padding:0px 120px;
}
/*part2*/
.part2{
	clear:both;
	margin-bottom:40px;
}
.part2 div{
	width:24%;
	display:inline-block;
	text-align:center;
	padding:40px 0px;
}
.part2 p{
	font:14px "黑体";
	width:-webkit-calc(24% - 1px);
	color:#767777;
	border-right:1px solid #767777;
	display:inline-block;
	text-align:center;
}
.part2 .p4{
	border-right:0px solid #767777;
}
/*part3*/
.part3{
	padding:50px 0px;
	text-align:center;
	background-color:#ececec;
}
.part3 p{
	font:45px "黑体";
	color:#a1a1a1;
	padding:21px 0px;
}
/*part4*/
.part4{
	text-align:center;
	color:#fff;
	position:relative;
}
.part4 img{
	width:100%;
}
.part4 .p1{
	font:21px "微软雅黑";
	position:absolute;
	top:10%;
	left:42%;
}
.part4 .p1 span{
	border-bottom:2px solid #fff;
}
.part4 .p1:hover{
	border-bottom:2px solid #fff;
}
.part4 .p2{
	font:12px "微软雅黑";
	position:absolute;
	top:22%;
	left:38%;
}
.part4 select{
	width:237px;
	height:40px;
}
.part4 .select1{
	position:absolute;
	top:50%;
	left:10%;
}
.part4 .select2{
	position:absolute;
	top:50%;
	left:30%;
}
.part4 .select3{
	position:absolute;
	top:50%;
	left:50%;
}
.part4 input{
	width:237px;
	height:38px;
	background-color:#e74f4d;
	font:14px "微软雅黑";
	color:#fff;
	position:absolute;
	top:50%;
	left:70%
}
/*part5*/
.part5{
	background-color:#f7f7f7;
}
.part5 div{
	width:220px;
	height:393px;
	text-align:center;
	display:inline-block;
	margin:40px 20px;
}
.part5 div img{
	padding:10px 5px;
	border:1px solid #ececec;
}
.part5 div .p1{
	font:16px "微软雅黑";
	margin:5px;
}
.part5 div .p2{
	font:14px "微软雅黑";
	color:#767777;
	margin:5px;
}
.part5 .fig1{
	margin-left:160px;
}
/*part6*/
.part6{
	height:593px;
}
.part6 .left-part{
	width:66%;
	height:593px;
	display:inline-block;
	color:#fff;
	position:relative;
}
.part6 .left-part img{
	width:100%;
}
.part6 .left-part .p1{
	font:50px "微软雅黑";
	position:absolute;
	top:25%;
	left:43%;
}
.part6 .left-part .p2{
	font:158px "微软雅黑";
	position:absolute;
	top:30%;
	left:30%;
}
.part6 .left-part .p3{
	font:22px "微软雅黑";
	position:absolute;
	top:60%;
	left:43%;
}
.part6 .right-part{
	width:33%;
	height:593px;
	float:right;
	display:inline-block;
	text-align:center;
	background-color:#fff;
	position:relative;
}
.part6 .right-part .p1{
	font:22px "微软雅黑";
	position:absolute;
	top:30%;
	left:37%;
}
.part6 .right-part .p1 span{
	color:#e7504d;
}
.part6 .right-part .p2{
	font:12px "宋体";
	color:#aaa;
	line-height:2em;
	position:absolute;
	top:40%;
	left:37%;
}
.part6 .right-part .p3{
	width:106px;
	font:12px "微软雅黑";
	padding:8px 24px;
	border:1px solid #e25c60;
	color:#e25c60;
	position:absolute;
	top:60%;
	left:32%;
}
.part6 .right-part img{
	margin-top:400px;
}
/*part7*/
.part7{
	
}
.part7 .left-part,.part7 .mid-part{
	width:calc(33% - 7px);
	height:540px;
	display:inline-block;
	text-align:center;
	background-color:#e7504d;
	color:#fff;
	position:relative;
}
.part7 .left-part p,.part7 .mid-part p{
	font:21px "黑体";
}
.part7 .left-part .p1,.part7 .mid-part .p1{
	position:absolute;
	top:30%;
	left:31%;
}
.part7 .left-part .p2,.part7 .mid-part .p2{
	width:169px;
	padding:10px 0px;
	border-width:1px;
	border-style:solid;
	position:absolute;
	top:55%;
	left:30%;
}
.part7 .mid-part{
	background-color:#fff;
	color:#000;
}
.part7 .mid-part .p2{
	border:1px solid #e7504d;
	color:#e7504d;
}
.part7 .right-part{
	width:33%;
	display:inline-block;
}
.part7 .right-part img{
	width:100%;
}
/*part8*/
.part8{
	text-align:center;
	padding:100px 0px;
}
.part8 .p1{
	font:21px "黑体";
	line-height:2em;
}
.part8 .p2,.part8 .p3{
	font:12px "微软雅黑";
	line-height:2em;
	color:#aaa;
}
/*part9*/
.part9{
	
}
/*part10*/
.part10{
	background-color:#32353e;
	color:#aaa;
	text-align:center;
	padding:80px;
}
.part10 .p1{
	font:21px "黑体";
	line-height:2em;
}
.part10 .p2,.part10 .p3{
	font:12px "宋体";
	line-height:2em;
}
.part10 .input{
	width:430px;
	height:35px;
	margin:20px 0px;
}
.part10 input{
	width:80px;
	height:35px;
	margin:20px 0px;
}
/*foot*/
.foot{
	background-color:#2f3038;
	padding:15px 50px;
	font:12px "华文仿宋";
	color:#fff;
	position:relative;
}
.foot .p2{
	position:absolute;
	top:15px;
	right:50px;
	/*float:right;     不明原因的达不到预计效果...*/
}
