*{
	margin:0px;
	padding:0px;
}
.container{
	width:100%;
}
/*顶栏*/
.head{
	width:100%;
	height:57px;
	background-color:rgb(33,137,191);
}
.head .logo{
	margin:10px 50px;
}
.head .login{
	display:inline-block;
	float:right;
	margin:16px 80px 20px 0px;
	cursor:pointer;
}
.head .login a{
	font:12px "宋体";
	color:#fff;
}
.head .login img{
	/*TIPS:使得图片和文字在同一水平线上*/
	vertical-align:middle;
}
.head .search{
	display:inline-block;
	position:relative;
	float:right;
	margin:13px 30px;
}
.head .search input{
	height:30px;
	width:252px;
	border:0px solid #fff;
	border-radius:15px;
	padding-left:40px;
	-webkit-border-radius:15px;
	/*
	-webkit-background-size:50% 50%;
	background:url("./img/search.gif") no-repeat scroll left center #fff;
	*/
}
.head .search img{
	position:absolute;
	left:15px;
	top:7px;
}
/*侧栏*/
.side{
	box-sizing:border-box;
	width:260px;
	height:1235px;
	background-color:rgb(42,46,61);
	/*padding:15px 40px;*/
	float:left;
	font:12px "黑体";
	color:#6e8095;
}
.side .avatar{
	padding:10px 40px;
}
.side .avatar p{
	display:inline-block;
	margin-top:25px;
	margin-left:15px;
}
.side .avatar img{
	vertical-align:top;
}
.side .info{
	padding:10px 40px;
}
.side .info p{
	display:inline-block;
	padding:0px 22px;
}
.side .info .fans{
	border-left:1px solid #6e8095;
}
.side ul{
	list-style:none;
}
.side .list li{
	padding:15px 40px;
}
.side .list li:hover{
	background-color:rgb(56,61,78);
}
.side .list li img{
	vertical-align:middle;
}
.side .list li label{
	margin-left:10px;
}
.side .second-list{
	padding-left:20px;
}
.side .third-list{
	padding-left:40px;
}
.side .first-list .report-form,.side .second-list{
	background-color:rgb(56,61,78);
}
/*主体*/
.main{
	background-color:rgb(237,237,237);
}
.main .main-title{
	width:100%;
	background-color:#fff;
	padding:7px 0px;
	padding-left:300px;
}
.main .main-title p{
	font:12px "黑体";
	color:#aaa;
}
.main .text{
	padding:15px 50px 200px 310px;
}
/*part1*/
.main .part1{
	/*width:100%;*/
	background-color:#fff;
	padding:7px 30px;
	margin-bottom:7px;
	position:relative;
}
.main .part1 span{
	font:12px "黑体";
	color:#aaa;
}
.main .part1 div{
	display:inline-block;
}
.main .part1 select{
	height:24px;
	border:1px solid rgb(233,233,233);
}
.part1 .item,.part1 .man,.part1 .info{
	margin-right:20px;
	line-height:1.8em;
}
.part1 .item{
	vertical-align:top;
}
.part1 .man{
	margin-right:50px;
}
.part1 .man select{
	width:105px;
}
.part1 .man img{
	position:absolute;
	top:12px;
	left:300px;
}
.part1 .info .date{
	width:118px;
	height:22px;
	border:1px solid rgb(233,233,233);
}
.part1 .info .time,.part1 .info .people{
	width:60px;
}
.part1 .info .deal{
	width:120px;
}
.part1 .search{
	/*为什么这里直接用middle居中不了？？？*/
	vertical-align:top;
	margin-top:15px;
}
.part1 .submit{
	width:53px;
	height:26px;
	background-color:rgb(56,138,193);
	color:#fff;
	font:12px "黑体";
	border:0px solid #fff;
	
}
/*part2*/
.part2{
	margin-bottom:7px;
	height:68px;
}
.part2 div{
	display:inline-block;
	background-color:#fff;
}
.part2 .img{
	width:30px;
	height:25px;
	text-align:center;
	vertical-align:top;
	padding:20px 0px;
}
.part2 .time{
	box-sizing:border-box;
	width:118px;
	height:65px;
	margin:0px 2px;
	padding:8px 0px;
	border-top:2px solid #fff;
	text-align:center;
}
.part2 .time:hover{
	border-top:2px solid rgb(67,136,201);
}
.part2 .time p{
	font:12px "微软雅黑";
	margin:2px;
}
.part2 .time p span{
	font:21px "微软雅黑";
	color:#ec6500;
}
.part2 .history{
	width:102px;
	height:35px;
	vertical-align:top;
	padding:15px;
}
.part2 .history p{
	vertical-align:top;
	display:inline-block;
	font:12px "微软雅黑";
	margin-top:10px;
}
/*part3*/
.part3{
	margin-bottom:10px;
	height:90px;
}
.part3 .title{
	font:12px "微软雅黑";
	margin-bottom:3px;
}
.part3>div{
	display:inline-block;
	position:relative;
	box-sizing:border-box;
	width:226px;
	height:72px;
	background-color:#fff;
	padding:10px;
}
.part3 div div{
	position:absolute;
	right:12px;
	top:12px;
	width:60px;
	height:48px;
}
.part3 div .p1{
	font:12px "黑体";
	margin-top:10px;
}
.part3 div .p2{
	font:10px "黑体";
	color:#aaa;
	margin-top:5px;
}
.part3 .green{
	border-left:2px solid rgb(68,178,158);
	margin-right:20px;
}
.part3 .green div{
	background-color:rgb(68,178,158);
}
.part3 .blue{
	border-left:2px solid rgb(56,138,193);
	margin-right:20px;
}
.part3 .blue div{
	background-color:rgb(56,138,193);
}
.part3 .red{
	border-left:2px solid rgb(208,74,54);
	margin-right:20px;
}
.part3 .red div{
	background-color:rgb(208,74,54);
}
.part3 .yellow{
	border-left:2px solid rgb(226,205,70);
}
.part3 .yellow div{
	background-color:rgb(226,205,70);
}
/*part4*/ /*part5*/
.part4,.part5{
	margin-bottom:10px;
}
.part4 .left,.part4 .right,.part5 .left,.part5 .right{
	height:358px;
	border:1px solid #fff;
	border-radius:5px;
	background-color:#fff;
	display:inline-block;
}
.part4 .left,.part5 .right{
	width:586px;
	vertical-align:top;
}
.part4 .left>.title,.part4 .right>.title,.part5 .left>.title,.part5 .right>.title{
	height:10px;
	font:12px "黑体";
	color:#aaa;
	background-color:rgb(244,245,246);
	padding:15px;
}
.part4 .right,.part5 .left{
	width:388px;
}
.part4 .left .proj{
	padding:10px 20px;
	position:relative;
}
/* [attribute^="value"] 根据属性名的一部分进行选择！*/
.part4 .left .proj [class^="tag"]{
	display:inline-block;
}
/*	z-index 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。
	注释：元素可拥有负的 z-index 属性值。
	注释：Z-index 仅能在定位元素上奏效（例如 position:absolute;）！*/
.part4 .left .proj p{
	width:86px;
	height:16px;
	display:inline-block;
	position:relative;
	font:12px "微软雅黑";
	background-color:rgb(237,237,240);
	text-align:center;
	padding:5px 0px;
	border-radius:5px 5px 0px 0px;
	z-index:9;
}
.part4 .left .proj input{
	width:86px;
	height:26px;
	position:absolute;
	opacity:0;
	cursor:pointer;
	z-index:99;
}
/* element+element	div+p	选择紧接在 <div> 元素之后的所有 <p> 元素。*/
.part4 .left .proj [class^="tag"] input:checked + p{
	background-color:#fff;
	border:1px solid #aaa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-bottom:1px solid #fff;
}
.part4 .left .proj [class^="tag"] input:checked + p + .material{
	display:block;
}
/*当只定义position：absolute时，top,bottom，left,right都不指定，
则left，top值与原文档流位置一致（而不是想当然的为0！！！）。即跟当它static时的位置一样，但是不占位。*/
.part4 .left .proj .material{
	/*none此元素不会被显示。*/
	display:none;
	position:absolute;	
	top:37px;
	left:20px;
	box-sizing:border-box;
	height:254px;
	padding:30px 40px;
	border:1px solid #aaa;
	border-radius:0px 5px 5px 5px;
	background-color:#fff;
}
.part4 .left .proj .tag-1 .material,.part4 .left .proj .tag-2 .material,.part4 .left .proj .tag-3 .material,
.part4 .left .proj .tag-4 .material,.part4 .left .proj .tag-5 .material{
	z-index:0;
}
.part4 .left .material table{
	border-collapse:collapse;

}
.part4 .left .material td{
	border:1px solid #aaa;
	padding:8px 20px;
	font:12px "宋体";
	color:#535353;
}
.part4 .left .material td:hover{
	background-color:rgb(243,244,245);
}
.part4 .right .instruc{
	padding:20px 70px;
	line-height:1.8em;
}
.part4 .right .catalog{
	font:12px "微软雅黑";
	color:#c2c2c2;
}
.part4 .right .content{
	font:12px "微软雅黑";
}
.part4 .right .instruc div{
	margin-bottom:5px;
}
.part4 .right .instruc .info{
	border-top:1px solid #c2c2c2;
	border-bottom:1px solid #c2c2c2;
}
.part4 .right .instruc .info #price{
	border-right:1px solid #c2c2c2;
}
.part4 .right .instruc .info p{
	display:inline-block;
	padding-right:85px;
	vertical-align:middle;
}
.part4 .right .instruc .info p span{
	color:#000;
}
.part4 .right .instruc .description{
	padding-bottom:120px;
	border-bottom:1px solid #c2c2c2;
}
.part4 .right .instruc .submit{
	position:relative;
}
.part4 .right .instruc .submit label{
	font:12px "微软雅黑";
	color:#c2c2c2;
}
.part4 .right .instruc .submit .search{
	width:53px;
	height:26px;
	background-color:rgb(56,138,193);
	color:#fff;
	font:12px "黑体";
	border:0px solid #fff;
	float:right;
}
.part5 .left{
	position:relative;
}
.part5 .left .calender{
	padding:10px 23px 20px 23px;
}
.part5 .left .calender .select{
	padding-bottom:10px;
	border-bottom:1px solid rgb(169,207,236);
}
.part5 .left .calender select{
	border:1px solid rgb(203,203,203);
	height:20px;
	font:12px "黑体";
	color:#535353;
	margin-left:8px;
}
.part5 .left .calender .year{
	width:74px;
}
.part5 .left .calender .month{
	width:64px;
}
.part5 .left .calender .day{
	width:84px;
}
.part5 .left .calender button{
	width:64px;
	height:20px;
	background-color:#fff;
	border:1px solid rgb(203,203,203);
}
.part5 .left .calender .week-bar{
	padding:10px 0px;
	border-bottom:1px solid rgb(236,236,236);
}
.part5 .left .calender .week-bar label{
	display:inline-block;
	width:42px;
	font:12px "黑体";
	color:#535353;
	text-align:center;
}
.part5 .left .calender .day-box{
	
}
.part5 .left .calender .day-box table{
	text-align:center;
	vertical-align:middle;
	font:11px "黑体";
	color:#323333;
}
.part5 .left .calender .day-box table .weekend,.part5 .left .calender .day-box table .festival{
	color:rgb(209,76,80);
}
.part5 .left .calender .day-box td{
	width:49px;
	height:41px;
}
.part5 .left .calender .day-box .today{
	border:1px solid rgb(249,221,128);
}
.part5 .right table{
	border-collapse:collapse;
	table-layout: automatic;
	margin:18px 55px;
	vertical-align:middle;
}
.part5 .right td{
	border:1px solid #aaa;
	padding:5px 30px;
	font:12px "黑体";
	color:#323333;
	text-align:center;
}
.part5 .right tr:hover{
	background-color:rgb(244,245,246);
	cursor:pointer;
}
.part5 .right td div{
	display:inline-block;
	width:170px;
	height:4px;
	margin-left:20px;
	background-color:rgb(220,220,220);
}
/*为什么display要设置成block而inline-block却不行*/
.part5 .right td .a1{
	display:block;
	background-color:rgb(237,110,82);
	width:140px;
	height:4px;
}
.part5 .right td .a2{
	display:block;
	background-color:rgb(239,129,80);
	width:122px;
	height:4px;
}
.part5 .right td .a3{
	display:block;
	background-color:rgb(241,159,79);
	width:104px;
	height:4px;
}
.part5 .right td .a4{
	display:block;
	background-color:rgb(127,203,240);
	width:97px;
	height:4px;
}
.part5 .right td .a5{
	display:block;
	background-color:rgb(127,203,240);
	width:86px;
	height:4px;
}
.part5 .right td .a6{
	display:block;
	background-color:rgb(127,203,240);
	width:79px;
	height:4px;
}
.part5 .right td .a7{
	display:block;
	background-color:rgb(127,203,240);
	width:74px;
	height:4px;
}
.part5 .right td .a8{
	display:block;
	background-color:rgb(127,203,240);
	width:61px;
	height:4px;
}
.part5 .right td .a9{
	display:block;
	background-color:rgb(127,203,240);
	width:56px;
	height:4px;
}
.part5 .right td .a10{
	display:block;
	background-color:rgb(127,203,240);
	width:52px;
	height:4px;
}
